{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
    </div>
</div>
{% endblock %}
