{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Site{% endblock %}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background: #6a0dad;
        color: white;
      }

      .navbar,
      .bg-light {
        background-color: #6a0dad !important;
      }

      .navbar-brand,
      .nav-link {
        color: white !important;
      }

      .navbar-nav .nav-item .nav-link:hover {
        color: #dda0dd !important;
      }

      .container {
        position: relative;
        z-index: 2;
      }

      .video-background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
        opacity: 0.5;
      }

      main.container {
        position: relative;
        z-index: 2;
      }

      header {
        z-index: 3;
        position: relative;
      }

      table {
        background-color: #f9f9f9;
        color: #333;
        border-collapse: collapse;
        width: 100%;
      }

      table th,
      table td {
        padding: 8px;
        bordera: 1px solid #ddd;
      }

      table th {
        background-color: #f2f2f2;
        text-align: center;
      }

      h1, th, .btn, .navbar {
        text-transform: uppercase;
      }

      h1 {
        color: Orange;
      }


    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Task Manager</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <video autoplay muted loop class="video-background">
      <source src="{% static 'videos/BackgroundVidGold.mp4' %}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <main class="container mt-4">{% block content %}{% endblock %}</main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
