{% extends "base.html" %}

{% block title %}Add Notes{% endblock %}

{% block content %}
<h1>Add Notes to {{ task.name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Notes</button>
</form>
{% endblock %}
