{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="mt-4">My Tasks</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Create New Task</button>
        </form>
        {% if show_my_tasks %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'show_my_tasks' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-warning">You have no tasks!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
