{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="mt-4">My Projects</h1>
        <p><a href="{% url 'create_project' %}" class="btn btn-success mb-3">Create a New Project</a></p>
        {% if project_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="alert alert-warning">You are not assigned to any projects</p>
        {% endif %}
    </div>
</div>
{% endblock %}
