{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="mt-4">{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        {% if tasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee.username }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">This project has no tasks</p>
            {% endif %}
            <p><a href="{% url 'create_task' %}" class="btn btn-success mt-3">Create a New Task</a></p>
        </div>
    </div>
    {% endblock %}
